<div class="container mr-5 mt-5">
  <% @menu_item.each do |r| %>
    <div class="col-xl-6 col-md-12 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                <%=r.name%>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%=r.price%></div>
            </div>
            <div class="col-auto">
              <%= image_tag(r.cover_photo, style:"border-radius: 50%; height: 50px; width:50px;") if r.cover_photo.attached?%>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
