<div class="container">
  <div class="row">
    <!-- Menu Item Details-->
    <div class="col-lg-6 col-lg-6 ">
      <div class="card shadow mb-4 ">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between border-bottom-primary">
          <h6 class="m-0 font-weight-bold text-center text-dark justify-content-between ">Add Menu Item</h6>
        </div>
        <!-- Main Item Add Content -->
        <div class="card-body">
          <%= form_for MenuItem.new, url: menuitems_path do |f| %>
            <div class="form-group">
              <label>Name</label>
              <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"form-control",placeholder:"Name" %>
            </div>
            <div class="file-upload-wrapper">
              <input type="file" id="input-file-now-custom-2" class="file-upload" data-height="500" />
            </div>
          </div>
          <!--ends here-->
        </div>
      <%end%>
    </div>
  </div>
</div>
