  <!-- Footer -->
<footer class="sticky-footer fixed-bottom bg-dark">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span class="text-gray-200 large">Copyright &copy; Your Website 2021</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->
